.tree-view-container {
    width: 20vh;
    height: 100vh;
}
.menu-list-container {
    list-style: none;
    margin-top: 0px;
}
.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: start;

}
.menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    gap: 20px;
}
