:root {
    --background: white;
    --text-primary: black;
    --button-bg: black;
    --button-text: white;
}

[data-theme='dark'] {
    --background: black;
    --text-primary: white;
    --button-bg: white;
    --button-text: black;
}

.theme-change-container {
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    transition: all 0.5s;
}

.theme-change-container button {
    border-radius: 5px;
    height: 40px;
    background-color: var(--button-bg);
    color: var(--button-text);
}